h1 {
  display: flex;
  align-items: center;
  padding: 6px 6px 0px;
}

h1 a {
  font-size: 40px;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: #ffffff;
}

h1 img {
  height: 60px;
  width: 60px;
  vertical-align: middle;
}

