h1 {
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: #24242C;
}

h1 a {
  font-size: 40px;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: #ffffff;
  margin-left: 10px; /* Додайте відстань між текстом та іконкою */
}

img {
  height: 60px;
  width: 60px;
  vertical-align: middle;
}

