.container1 {
  padding: 0px 17px;
  min-height: 70vh;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-color);
}

.post1 {
  display: flex;
  flex-direction: column;
  background: #24242C;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.container1 img {
  width: 146px;
  height: 146px;
}

.post1 input {
  height: 55px;
  width: 100%;
  border: 1px solid #DED2D9;
  border-radius: 6px;
  margin-bottom: 8px;
  font-size: 1rem;
  padding: 0 14px;
  background-color: #24242C;
  color: #ffffff;
}

.post1 input::placeholder {
  color: #828282;
}


.post1 input:focus {
  outline: none;
  color: #ffffff;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.link .login {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 6px;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  width: 104%;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
}

.link .login:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.link .login:focus {
  outline: none;
}

.link p {
  color: #828282;
  font-size: 16px;
}

.link .createAcc {
  color: #7076FE;
  font-size: 18px;
}

.link .createAcc:hover {
  text-decoration: underline;
}

.forgot-link {
  color: #666BE4;
  font-size: 16px;
  margin-left: 204px;
}

.forgot-link:hover {
  text-decoration: underline;
}

.button {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 2px 0 5px;
  font-size: 15px;
}

.checkmark {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #666BE4;
  margin-right: 14px;
  margin-left: 1px;
  border: 1px solid #666BE4;
  border-radius: 3px;
  text-align: center;
  line-height: 16px;
  color: #24242C;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked+.checkmark::before {
  content: '\2713';
  font-size: 14px;
  color: #24242C;
  display: block;
  text-align: center;
  line-height: 16px;
}