.box {
  min-height: 57vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.post {
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.box .user-info img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-left: 15px;
}

.icon-container .user-name p {
  padding-right: 51px;
  text-align: center;
  line-height: 32px;
}

.box .icon-container {
  display: flex;
  align-items: center;
  margin-right: 5px; 
  margin-left: 5px;  
}

.box .icon-container .user-name {
  border-radius: 10px;
  width: 153px;
  height: 34px;
  margin-right: 5px; 
  margin-left: 5px;  
  color: #fff;
}


.mlink {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.mlink .start1 {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 36px 75px;
  border-radius: 100%;
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  width: 111px;
  height: 111px;
  margin-top: 24px;
  background-size: 300% 100%;
  transition: all .4s ease-in-out;
}

.mlink .start1:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.mlink .start1:focus {
  outline: none;
}


.videoElement {
  border-radius: 20px;
  width: 100%;
  max-width: 642px;
  position: absolute;
  left: 50%;
  border: 2px solid #20225f;
  transform: translate(-50%, -50%);
  top: 39%;
  height: 400px;
  object-fit: cover;
}
.icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon {
  width: 60px; 
  height: 60px;
  margin: 13px;
}
