:root {
    --background-color:  #fff;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  html {
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
  }
  .page {
    justify-content: center ;
    max-width: 1000px;
    width: 100%;
  }
  
  h1 {
    font-size: 40px;
    background-color: var(--background-color);
    padding: 0 15px;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  /* style.css */

.setting-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.setting-container a {
  display: block;
}

.setting-container img {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.setting-container img:hover {
  transform: rotate(360deg);
}

  
  