:root {
    --background-color:  #fff;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  html {
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
  }
  .page {
    justify-content: center ;
    max-width: 1000px;
    width: 100%;
  }
  
  h1 {
    font-size: 40px;
    background-color: var(--background-color);
    padding: 0 15px;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  
  
  