

/* .startCallBtn {

}*/


.videoElement {
    width: 100%;
    height: 50%;
    padding: 10px;
    border: 1px solid black;
}

.mainContainer {
    display: flex;
}

.videosSection {
    width: 400px;
}

.controlsSection {
    width: 100%;
    margin-left: 50px;

    align-items: center;
    justify-content: center;

    display: flex;
}
