

/*.startCallBtn {

}
*/

.videoElement {
  width: 100%;
  height: 50%;
  padding: 10px;
  border: 1px solid black;
}

.mainContainer {
  display: flex;
}

.videosSection {
  width: 100%;
  display: flex; 
}

.controlsSection {
  width: 100%;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-container a {
  margin: 0 10px;
}

.center-container img {
  width: 10px; 
  height: 50px; 
}
